.body{
    padding: 70px;
}

/***Overriding bootstrab***/
/*Main nav bar*/
.navbar {
    
    min-height: 70px;
    
}

/*Navbar links color --- brand color*/
.navbar-inverse .navbar-nav > li > a{
    color: #BBB;
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 20px;
    font-size: 16px;
}

/*Brand name*/
.navbar-inverse .navbar-brand{
    color: #BBB;
    font-size: 30px;
    line-height:40px;
}

.navbar-inverse .navbar-brand span{
 color:blue;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
/*nav bar toggle*/
.navbar-toggle {
    margin-top: 16px;
}


.carousel-caption {
    bottom: 85px;
    background-color: rgba(3, 3, 3, 0.4)
}

.carousel-indicators .active{
    
    background: blue;

}
/*start seection about*/

.about{
    padding-top: 25px;
    padding-bottom: 25px;
}
.about h1{
    font-weight: bold;
}
.about .lead{
    color: #888;
    font-size: 25px;
    margin-top: 15px;
}
.about h1 span{
    color: blue;
}
/*start section solution*/
.solution{
    background: #EEE;
    padding-top: 25px;
    padding-bottom: 25px;
}
.solution h1{
    margin-bottom: 50px;
}
.solution .sol{
    margin-bottom: 30px;
}
.solution .sol p{
    line-height:2em;
}
.solution .sol span.glyphicon{
    font-size: 30px;
    margin-bottom: 10px;
    color:#888;
}
/*End section solution*/
/*Start section clients*/
.clients{
    background: #EEE;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top:10px;
}
.clients h1{
    margin-bottom: 50px;
}
.clients .clint_work{
    margin-bottom: 30px;
}
.clients .clint_work p{
    line-height:2em;
    padding-top: 10px;
}
.clients .clint_work span{
color:blue;
font-weight: bold;
}
.clients .clint_work img{
    text-indent: 0;
    width: 80%;
    height : 60%;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 3px solid;
    border-color: blue;
    border-radius: 20%;
    overflow: hidden;

}
/*End section clients*/
/*Start section brands*/
.Brands{
    background: #EEE;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top:10px;
}
.Brands h1{
    margin-bottom: 50px;
}
.carousel-control {
    padding-top:10%;
    width:5%;
  }
/*End section brands*/
